{% extends "blog/base.html"%}
{% block content %}
    <div class="allImages">
	    <div class="box">
	    	<div class="imgBx">
	    		<img src="https://www.wallpapertip.com/wmimgs/23-234878_star.jpg">
	    	</div>
	    	<div class="content">
	    		<h2>Mateusz Sa***ki<br><span>Backend designer</
	    			span></h2>
	    	</div>
	    </div>

	    <div class="box">
	    	<div class="imgBx">
	    		<img src="https://cutewallpaper.org/21/2560x2560-wallpaper/Kumpulan-Wallpaper-Qhd-Galaxy-wallpaper-dilan.jpg">
	    	</div>
	    	<div class="content">
	    		<h2>Robert Sk***ła<br><span>Backend designer</
	    			span></h2>
	    	</div>
	    </div>

	    <div class="box">
	    	<div class="imgBx">
	    		<img src="https://i.pinimg.com/originals/e3/fc/63/e3fc639500db4c0463d1029cf2212775.jpg">
	    	</div>
	    	<div class="content">
	    		<h2>Jan Ta***ki<br><span>Frontend designer</
	    			span></h2>
	    	</div>
	    </div>
	</div>
{% endblock content %}
